.grid-row
  .column-full
    %h1.heading-large Reset your password

    = form_for @user, url: password_reset_path(params[:id]) do |f|
      - if @user.errors.any?
        = @user.errors.full_messages.join('<br />').html_safe

      .form-group
        = f.label :password, class: 'form-label'
        = f.text_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation, class: 'form-label'
        = f.text_field :password_confirmation, class: 'form-control'

      .form-group
        = f.submit 'Save', class: 'button'
