= form_for @register do |f|
  - if @register.errors.any?
    %div{class: 'error-summary', role: :alert, 'aria-labelledby' => 'error-summary-heading-example-1', tabindex: '-1'}
      %h2.heading-medium.error-summary-heading= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:"
      %ul.error-summary-list
        - @register.errors.each do |message|
          %li= link_to_field_with_error(@register, message)

  .form-group
    = f.label :name, 'Title', class: 'form-label'
    %span.form-hint Make this as short and as clear as possible
    = f.text_field :name, class: 'form-control'

  - if controller.action_name == 'edit'
    .form-group
      .multiple-choice
        = f.check_box :approved
        = f.label :approved, 'Approve'
  - else
    = f.fields_for :votes do |ff|
      .form-group
        %fieldset
          %legend
            %p Why are you suggesting for this register?
          .multiple-choice
            = ff.radio_button :interest, :interested_in, checked: true
            = ff.label :interest, 'I am interested in this subject', for: "register_votes_attributes_0_interest_interested_in"
          .multiple-choice
            = ff.radio_button :interest, :need_this
            = ff.label "vote_need_this", 'I need this data for my work', for: "register_votes_attributes_0_interest_need_this"
          .multiple-choice
            = ff.radio_button :interest, :have_this
            = ff.label "vote_have_this", 'I can provide some or all of this data', for: "register_votes_attributes_0_interest_have_this"
      .form-group
        = ff.label :email, 'Email address', class: 'form-label'
        %span.form-hint This will only be used to update you on progress
        = ff.text_field :email, class: 'form-control', required: true, value: session[:user_email]

  = f.submit 'Submit', class: 'button'
