= form_for @register do |f|
  - if @register.errors.any?
    %div{class: 'error-summary', role: :alert, 'aria-labelledby' => 'error-summary-heading-example-1', tabindex: '-1'}
      %h2.heading-medium.error-summary-heading= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:"
      %ul.error-summary-list
        - @register.errors.each do |message|
          %li= link_to_field_with_error(@register, message)

  .form-group
    = f.label :name, 'Title', class: 'form-label'
    %span.form-hint Make this as short and as clear as possible
    = f.text_field :name, class: 'form-control'

  = f.fields_for :votes, @register.votes.first do |ff|
    .form-group
      %fieldset
        %legend
          %p Why are you voting for this register?
        .multiple-choice
          = ff.radio_button :interest, 'I am interested in this subject', checked: true, id: "interested_in"
          = ff.label :interest, 'I am interested in this subject'
        .multiple-choice
          = ff.radio_button :interest, :need_this, id: "need_this"
          = ff.label "vote_need_this", 'I need this data for my work'
        .multiple-choice
          = ff.radio_button :interest, :have_this, id: "have_this"
          = ff.label "vote_have_this", 'I can provide some or all of this data'
    .form-group
      = ff.label :email, 'Email address', class: 'form-label'
      %span.form-hint This will only be used to update you on progress
      = ff.text_field :email, class: 'form-control', required: true, value: session[:user_email]

  = f.submit 'Submit', class: 'button'
