.grid-row
  .column-full
    %h1.heading-xlarge Registers

    %table
      %thead
        %tr
          %th Name
          %th.text-centered Votes
          %th.text-centered Approved
          %th

      %tbody
        - @registers.each do |register|
          %tr
            %td= register.name
            %td.text-centered= register.votes.count
            %td.text-centered
              - if register.approved
                = image_tag '002-checked.svg', width: 20
              - else
                = image_tag '001-cancel.svg', width: 20
            %td
              = button_to 'Approve', approve_register_path(register), method: :post, disabled: register.approved, class: 'button'
