- content_for :page_title, "GOV.UK Registers Upvote - #{@page_title}"

- content_for :head do
  = stylesheet_link_tag 'application'
  = csrf_meta_tags

- content_for :body_end do
  = javascript_include_tag 'application'
  = yield(:javascript)

= render file: 'layouts/govuk_template'
